body{
    background: #3c91e67c;
    overflow-x: hidden;
}

.col{
    position: absolute;
    background-color: white;
}

.col1{
    padding:10px;
    width: 30%;
    height: 40%;
    margin-top: 8%;
    border-radius: 15px;
    margin-left: 10%;
    box-shadow: 5px 10px #0000001f;
    cursor: pointer;
}

.col2{
    padding:10px;
    width: 30%;
    height: 40%;
    border-radius: 15px;
    margin-left: 47%;
    margin-top: 8%;
    box-shadow: 5px 10px #0000001f;
    cursor: pointer;
}

.col .studentProfile{
    width: 50%;
    position: relative;
    margin-left: 25%;
}

.col .teacherProfile{
    width: 80%;
    position: relative;
    margin-left: 32%;
    margin-top: 4%;
}

h1{
    font-size: 60px;
    text-align: center;
    margin-top: 8%;
    font-weight: 800;
}

.row .student{
    text-align: center;
    font-weight: 200;
    position: relative;
    color: black;
}

.row .teacher{
    text-align: center;
    font-weight: 200;
    margin-top: -140px;
    position: relative;
    color: black;
}

